/*  Add your styling here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    background-color:  rgb(247, 236, 222);
    width: 100%;
    height: 200px;
    display: block;
 
}
.nav h2 {
    font-family: 'Fredericka the Great', cursive;
    font-size: 30px;
    font-weight: 500;
    color: rgb(84, 186, 185);
    text-align: right;
}

/* lista */
.contenedor-lista {
    background-color: rgb(247, 236, 222);
    width: 70%;
    height: 100px;
    margin-top: 20px;
    padding: 20px;
}











































}
    


