/*  Add your styling here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-banner{
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: lavenderblush;

}
 
.header-banner img {
    width: 40%;
    object-fit: cover;
}

.header-banner h2 {
    width: 40%;
}

nav.navbar.navbar-expand-md.navbar-light.bg-light.container {
    position: absolute;
    top: 0px;
    right: 0px;

}
.welcome img{
    width: 100%;
}
.container-flex{
display: flex;
background-color: white;
flex-wrap: wrap;
padding-top: 10px;
padding-bottom: 10px;
justify-content: space-between;


}

.container-flex img{
    width: 60px;
    height: 60px;
    justify-content: space-between;
    border-top: 5%;
    padding-bottom: 5%;
    margin-right: 20%;
    margin-left: 20%;
    box-sizing: border-box;

}

/* media queris */

@media screen and (min-width:540px){
    nav.navbar.navbar-expand-md.navbar-light.bg-light.container {
        position: static;

    }
    
}
/* style for laptops */

@media screen and (min-width:900px) {
    .welcome{
        display: flex;
        justify-content:space-between;
        flex-direction: row-reverse;
    }
    .welcome img{
        width: 45%;

    }
    .welcome div{
        width: 45%;
    }
}




































}
    


